
@model AHP.Models.CriterionView

@{
    ViewBag.Title = "AddCriterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container pt-5 mr-5 pb-5">

        <h1 id="SubTitle">Add criteria</h1>

        @using (Html.BeginForm("AddNewCriterion", "Criterion", FormMethod.Post, new { id = "AddCriterionForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row pt-4">
                <div class="col-4">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control shadow", placeholder = "Criterion name", required = "required", autocomplete = "off" })
                    </div>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-success mr-2" onclick="addCriterion()"><i class="fas fa-plus fa-lg"></i></button>
                    <button type="button" class="btn btn-danger mr-2" onclick="removeCriterion()"><i class="fas fa-minus fa-lg"></i></button>

                    <button type="submit" id="submitBtn" class="btn btn-success">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4" id="criteria">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control shadow", placeholder = "Criterion name", required = "required", autocomplete = "off" })
                    </div>
                </div>
            </div>
        }
    </div>

@section scripts {
    <script>
    // Adding new criterions to form
    let warning = document.createElement("div");
    warning.setAttribute("style", "display:none");
    warning.setAttribute("id","warning")
    warning.setAttribute("class", "alert alert-danger");
    warning.setAttribute("role", "alert");
    warning.setAttribute("style","display:none; border: 2px solid red; font-weight: bold;")

    let subtitle = document.getElementById("SubTitle");
    subtitle.after(warning);

    let numOfCriteria = 2;
    function addCriterion() {
        if (numOfCriteria < 10) {
            let formGroup = document.createElement("div");
            formGroup.classList.add("form-group");
            formGroup.innerHTML = `@Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control shadow", placeholder = "Criterion name", required = "required", autocomplete="off" })`
            $("#criteria").append(formGroup);
            numOfCriteria++;
        }
        else {
            warning.innerHTML = "Number of max. criteria reached!";
            warning.setAttribute("style", "display:inline; letter-spacing:2px; font-size: 12px;")
            $('#warning').fadeIn('fast').delay(1000).fadeOut('fast');
        }
    }
    let form = document.getElementById("criteria");
        function removeCriterion() {
            if (numOfCriteria > 2) {
                form.removeChild(form.lastChild)
                numOfCriteria--;
            } else {
                 warning.innerHTML = "Number of min. criteria reached!";
                warning.setAttribute("style", "display:inline; letter-spacing:2px; font-size: 12px;")

                $('#warning').fadeIn('fast').delay(1000).fadeOut('fast');
            }
    }


    $("#AddCriterionForm").on("submit", function () {
        event.preventDefault();
         var token = $('input[name="__RequestVerificationToken"]').val();
         var url = '@Url.Action("AddNewCriterion", "Criterion")';
         var data = [];

         // Find all input fields
         var text = $('#AddCriterionForm').find('input[name="CriteriaName"]');
         var id = @ViewBag.id;
         for (let t of text) {
              // Values of each input field
              // console.log(t.value);
             data.push({
                 CriteriaName: t.value,
                 ProjectId: id
             })
         };

        //console.log(JSON.stringify(data));

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            headers: {
             'X-VerificationToken': $("[name='__RequestVerificationToken']").val()
               },
            success: function (response) {
                console.log(response);
                window.location.href = '@Url.Action("EditCriteria", "Criterion", new { id = ViewBag.id })';
            },
            failure: function (response) {
                alert(response);
            }
        });
    });

    </script>
}