@model AHP.Models.ProjectView

<!-- ADDING NEW PROJECT -->

<button class="btn btnLetter btn-light" onclick="location.href='@Url.Action("Index","Home")'"><i class="fas fa-arrow-left"></i> Back</button>
<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>
<h3 id="SubTitle" class="text-light text-md-left text-sm-center">Add new project</h3>

<div class="col-12 ml-5">
    @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { id = "CreateProjectForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row pt-5">
            <div class="col-6 col-md-4">
                <div class="form-group pt-1">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "required", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="form-group pt-1">
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Project name", required = "required", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-6 col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description", required = "required", autocomplete = "off" })
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btnLetter btn-success"><i class="fas fa-check-circle pt-1 fa-lg"></i></button>
            </div>

        </div>

    }
</div>

<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>


@section scripts {
    <script>
        $("form").submit(function () {
            $("#divLoader").show("fast");
            $('.container').css("filter", "blur(0.5px)");
        })
    </script>

}