@model AHP.Models.ProjectView

<!-- ADDING NEW PROJECT -->
<div class="container pt-5 mt-5 pl-5 w-75">
    <button class="btn btn-light" onclick="location.href=' @Url.Action("Index","Home")'"><i class="fas fa-arrow-left"></i> Back</button>

    <h3 id="SubTitle" class="text-light text-left">Add new project</h3>

  
        @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { id = "CreateProjectForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row pt-5">
                <div class="col-5">
                    <div class="form-group pt-1">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "required", autocomplete = "off" })
                    </div>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-5">
                    <div class="form-group pt-1">
                        @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", placeholder = "Project name", required = "required", autocomplete = "off" })
                    </div>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-5">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description", required = "required", autocomplete = "off" })
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check-circle pt-1 fa-lg"></i></button>
                </div>

            </div>
        }
    </div>

<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>


@section scripts {
    <script>
        $("form").submit(function () {
            $("#divLoader").show("fast");
            $('.container').css("filter", "blur(0.5px)");
        })
    </script>

}