
@model  AHP.Models.AlternativeView

@{
    ViewBag.Title = "AddAlternative";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-dark mt-5 text-center p-4">

        <h1 id="SubTitle">Add alternative</h1>

        @using (Html.BeginForm("AddAlternative", "Alternative", FormMethod.Post, new { id = "AddAlternativeForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row pt-4 justify-content-center">
                <div class="col-5 offset-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AlternativeName, new { @class = "form-control", placeholder = "Alternative name", required = "required", autocomplete = "off" })
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-success mr-2" onclick="addAlternative()"><i class="fas fa-plus fa-lg"></i></button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-5" id="alternative">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AlternativeName, new { @class = "form-control", placeholder = "Alternative name", required = "required", autocomplete = "off" })
                    </div>
                </div>
            </div>
        }
    </div>

@section scripts {
    <script>
    function addAlternative() {
        let formGroup = document.createElement("div");
            formGroup.classList.add("form-group");
            formGroup.innerHTML = `@Html.TextBoxFor(m => m.AlternativeName, new { @class = "form-control", placeholder = "Alternative name", required = "required", autocomplete="off" })`
            $("#alternative").append(formGroup);
        }

        $("#AddAlternativeForm").on("submit", function () {
         event.preventDefault();
         var url = '@Url.Action("AddNewAlternative", "Alternative", new { id = @ViewBag.id })';
         var data = [];

         // Find all input fields
         var text = $('#AddAlternativeForm').find('input[name="AlternativeName"]');
                
         for (let t of text) {
              // Values of each input field
              // console.log(t.value);
             data.push({
                 AlternativeName: t.value
             })
         };

        console.log(JSON.stringify(data));

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            success: function (response) {
                console.log(response);
                window.location.href = '@Url.Action("EditAlternative", "Alternative", new { id = @ViewBag.id })';
            },
            failure: function (response) {
                alert(response);
            }
        });    
    }); 

    </script>
}